menu "Example Configuration"

    config EXAMPLE_PORT
        int "UDP Port"
        range 0 65535
        default 3333
        help
            Local port the example server will listen on.

    config EXAMPLE_FIRMWARE_UPGRADE_URL
        string "firmware upgrade url endpoint"
        default "https://192.168.0.118:8070/moonlight.bin"
        help
            URL of server which hosts the firmware
            image.

    config EXAMPLE_SKIP_COMMON_NAME_CHECK
        bool "Skip server certificate CN fieldcheck"
        default n
        help
            This allows you to skip the validation of OTA server certificate CN field.
endmenu
