
**/build
**/sdkconfig.old
**/sdkconfig
.vscode
multi_downloads.sh

**/https_server/ca_cert.pem
**/https_server/ca_key.pem

**/_build
**/docs/en

function_design.emmx
function_design.jpg
model_3d_backup
