menu "Example Configuration"

    config EXAMPLE_PORT
        int "UDP Port"
        range 0 65535
        default 3333
        help
            Local port the example server will listen on.

endmenu
